body{
    align-items: center;
    justify-content: center;
}
.disaster-sm{
    display: flex;
    flex-direction: column;
}

.disaster-di{
    margin-left: 85%;
    padding-top: 2vh;
}

.disaster-img{
    margin-left: 80%;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

