/* Styles for heading */
.head {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for input fields */
.input-Email {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between input groups */
}

.input-Email label {
    margin-right: 35px; /* Add margin between label and input */
}

.input-Email input {
    width: 200px; /* Adjust the width as needed */
    
}
.input-Password {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between input groups */
}

.input-Password label {
    margin-right: 10px; /* Add margin between label and input */
}

.input-Password input {
    width: 200px; /* Adjust the width as needed */
    
}

/* Styles for button */
button {
    margin-top: 10px; /* Add margin above the button */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens here */
    .head {
        margin-left: 5%;
        margin-right: 5%;
    }
}
